node_modules
.next
out
dist
build
coverage

.git
.github
.gitignore

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

Dockerfile*
docker-compose*.yml

.idea
.vscode
*.iml

.DS_Store
Thumbs.db

README.md
